 #id1  {
                          font-size: 25px;
                          color: teal;
                                }
             .class1   {
              font-size: 15px;
              color:magenta;
                        }
